---
name: all_url_check

'on':
  workflow_dispatch:
  push:
  schedule:
    - cron: '30 2 * * *'

permissions:
  contents: read

jobs:
  run_lychee:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: link_check with lychee-action
        id: link_check
        uses: lycheeverse/lychee-action@82202e5e9c2f4ef1a55a3d02563e1cb6041e5332 # v2.4.1
        with:
          args: >
           --verbose
           --insecure
           --no-progress
           --accept 200,999
           **/*.tex **/*.md **/*.py
          fail: true
...
