---
name: pdf_check

'on':
  workflow_dispatch:
  push:
    paths:
      - 'generated/**'
      - '.github/workflows/qpdf_check.yml'

permissions:
  contents: read

jobs:
  run_qpdf:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Install qpdf
        run: |
          sudo apt-get install qpdf
      - name: Check with qpdf
        shell: bash
        run: |
          cd "$(./get_output_folder.sh)"
          for cur_file in *.pdf; do qpdf --check $cur_file; done
      - name: Verify checksum data
        run: ./verify_checksum_data.sh
...
