---
name: sonarcloud_check

'on':
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read

jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest coverage
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Generate coverage data
        run: |
          coverage run --branch -m pytest
          coverage xml --omit="*/test_*"
          coverage report --omit="*/test_*"

      - name: Fix code coverage paths for SonarCloud
        # yamllint disable rule:line-length
        run: |
          cp coverage.xml coverage_for_sonacloud.xml
          sed -i 's/\/home\/runner\/work\/pi2021\/pi2021/\/github\/workspace/g' coverage_for_sonacloud.xml
        # yamllint enable rule:line-length

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@ffc3010689be73b8e5ae0c57ce35968afd7909e8 # v5.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
...
